@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col h2 {
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    transition: background 0.3s;
}

.col h2:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.col button {
    outline: none;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
}

.col button:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}